# Python

In [4]:
print("hello world")

hello world

In [5]:
x = 10
y = 20
print(x+y)

30

In [6]:
40 * 20

800

In [7]:
print(input("input a no"))

input a no20
20

In [8]:
for i in range(30):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

"""
this is a comment
"""

In [10]:
lst = [1,2,3,4,5,6,7,8,9]
for i in lst:
    print(i)

1
2
3
4
5
6
7
8
9

### data types

In [12]:
print(type(20))

<class 'int'>

In [13]:
print(type(20.60))

<class 'float'>

In [14]:
print(type('a'))

<class 'str'>

In [15]:
print(type([1,2,3,4,5,6,7,5,4,6,4,6,67,8]))

<class 'list'>

In [16]:
print(type({1,2,3,5,6}))

<class 'set'>

In [17]:
print(type({"key":"value"}))

<class 'dict'>

In [18]:
print(type((1,2,3)))

<class 'tuple'>

# list

In [20]:
"""
A list is a contigious data type 
"""

x= [2,3,2,2,4,12,3,5]
print(x)
print(type(x))

[2, 3, 2, 2, 4, 12, 3, 5]
<class 'list'>

In [22]:
for i in x:
    print(i)

2
3
2
2
4
12
3
5

In [26]:
# to add an element to list
x.append(40)
print(x)

[2, 3, 2, 2, 4, 12, 3, 5, 40, 40, 40, 40]

In [29]:
# to remove something 
x.remove(40)
print(x)

[2, 3, 2, 2, 4, 12, 3, 5, 40, 40]

In [30]:
# to pop an element 
x.pop()

40

In [31]:
# to insert an element on an index
x.insert(0,898989)
print(x)

[898989, 2, 3, 2, 2, 4, 12, 3, 5, 40]

In [35]:
# to add list
lst = ['s','g']
x.extend(lst)
print(x)

[898989, 2, 3, 2, 2, 4, 12, 3, 5, 40, 's', 'g']

In [33]:
# subscript
print(x[3])

2

In [34]:
# slicing to reverse the list
print(x[-1::-1])

[40, 5, 3, 12, 4, 2, 2, 3, 2, 898989]

# Dictonary

In [36]:
"""
A dictonary is a data type having key value pairs
"""

y = {
    "name":"archit"
}
print(y)
print(type(y))

{'name': 'archit'}
<class 'dict'>

In [37]:
# to access a value 
print(y["name"])

archit

In [38]:
# to add a new value to the dictonary
y["sem"] = 6
print(y)

{'name': 'archit', 'sem': 6}

In [43]:
# function to add new value using function
y.update({"branch":"cse"})
print(y)

{'name': 'archit', 'sem': 6, 'branch': 'cse'}

In [46]:
# to get all the keys of a dict
kys = y.keys()
print(list(kys))

['name', 'sem', 'branch']

In [47]:
# to get all the items in a dict
itms = y.items()
print(list(itms))

[('name', 'archit'), ('sem', 6), ('branch', 'cse')]

In [48]:
# to get all the values in a dict
vals = y.values()
print(list(vals))

['archit', 6, 'cse']

In [50]:
# to pop an item 
y.pop("name")

'archit'

In [51]:
# to pop the last item in a dict
y.popitem()

('branch', 'cse')

In [55]:
# to print a dict using for loop 

for kys in y:
    print(kys,end=":")
    print(y[kys])

sem:6

# Tuple

In [56]:
"""
A tuple is a data type similar to list but not mutable
"""

t = (34,54,3,5,3,54,3,5,6,78,78,65,23)
print(t)
print(type(t))

(34, 54, 3, 5, 3, 54, 3, 5, 6, 78, 78, 65, 23)
<class 'tuple'>

In [57]:
# to acess a element usng index

print(t[0])

34

In [58]:
# slicing 
print(t[-1::-1])

(23, 65, 78, 78, 6, 5, 3, 54, 3, 5, 3, 54, 34)

In [59]:
# to acess all elements using for loop
for i in t:
    print(i)

34
54
3
5
3
54
3
5
6
78
78
65
23

# Looping

there are three loops in python 
1. for loop 
2. while loop 
3. for each loop

## for loop

In [61]:
for i in range(30):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

## while loop

In [62]:
i = 10
while i>0:
    i-=1
    print(i)

9
8
7
6
5
4
3
2
1
0

## for each loop

In [64]:
x = [1,2,3,3,4,3,2,2,4,23,23]
for i in x :
    print(i)

1
2
3
3
4
3
2
2
4
23
23

# If statements


1. If statements
2. If else statements 
3. if elif else statements

In [66]:
# if statements 
if True:
    print("it is true ")

it is true

In [67]:
# if else statements 
if False:
    print("if")
else:
    print("else")

else

In [68]:
# if elif statements
if False:
    print("if")
elif True:
    print("elif")
else:
    print("else")

elif

# functions

In [69]:
"""
a function is a block of callable code
"""
def x():
    print("i am called")
x()

i am called

In [70]:
# function with paramenet

def y(c):
    print(c)
y("hello")

hello

In [72]:
# functin with multiple args 
def g(*args):
    for i in args:
        print(i,end=" ")
g("k","j","h","rer")

k j h rer

In [73]:
# functions with multiple key args 
def h(**kawrgs):
    for i in kawrgs:
        print(kawrgs[i])
        
h(name="archit",sem="6",branch="cse")

archit
6
cse

In [74]:
# function with default value
def b(x,y=10):
    return x+y
print(b(6))
print(b(6,8))

16
14